{% extends 'base.html.twig' %}

{% block title %}Übersicht: AutorInnen{% endblock %}

{% block headline %}
    <div class="text-center py-4">
        <h1 class="display-4">Ihre <span class="text-success">Übersicht AutorInnen</span></h1>
        <p class="lead text-muted">Verwalten Sie Ihre Sammlung mit einem Klick.</p>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <!-- Add New Book Button -->
        <div class="d-flex justify-content-between align-items-center my-4">
            <h2 class="text-muted">AutorInnen</h2>
{#            <a href="{{ path('app_author_new') }}" class="btn btn-outline-success btn-lg">#}
{#                <i class="fa-solid fa-plus me-2"></i>#}
{#                Neue/n AutorIn hinzufügen#}
{#            </a>#}
        </div>

        <!-- Books List -->
        <ul class="list-group">
            {% for author in authors %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
{#                        <strong>{{ book.title }}</strong>#}
                        <p class="mb-0 text-muted small">{{ author.fname }} {{ author.lname }}</p>
                    </div>
                    <div>
                        <a href="{{ path('app_author_show', { id: author.id }) }}" class="btn btn-success btn-sm">
                            <i class="fa-solid fa-author me-1"></i>
                            Details
                        </a>
                    </div>
                </li>
            {% else %}
                <li class="list-group-item text-center text-muted">Keine Bücher verfügbar.</li>
            {% endfor %}
        </ul>
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block javascript %}

{% endblock %}